.ficha{
}

.ficha h1{
  text-align: center;
  font-size: 18px;
  color: #E32636;
  font-weight: bold;
  margin: 0px; !important
}

.ficha p{
  font-style: italic;
  text-align: justify;
  margin: 0px;
}
