img{
  max-width: 20%;
  height: auto;
  display: inline-block;
}

img:hover{
  z-index: 100;
  position: absolute;
  transition: .5s ease-out;
  transform: translate(0, 150px);
  max-width: 100%;
  height: auto;
}

div {
  display: inline-block;
}

#a {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

#b {
  width: 500px;
  height: 500px;
  display: none;
}

#a:hover #b {
  z-index: 100;
  position: absolute;
  display: inline-block;
}
