#geral{
    width: 500px;
    background-color: #FFF1B7;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

#titulo{
    font-size: 50px;
    color: #103149;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

#pokeball{
  color: black;
  background-color: white;
  tranform: scale(0.1, 0.1);
}

#pokeball:hover{
  transform: scale(1, 1);
}
