div {
  display: inline-block;
}

#a {
  width: 100px;
  height: 100px;
  cursor: pointer;
  text-align: center;
}

#b {
  width: 500px;
  height: 500px;
  display: none;
  text-align: center;
}

#a:hover #b {
  display: inline-block;
  position: relative;
}
